.all {
    width: 1200px;
    height: 1000px;
    margin: auto;
}

.logo {
    height: 150px;
    background-color: blue;
}

.out {
    height: 800px;
    background-color: lightgray;
}

footer {
    height: 50px;
    background-color: hotpink;
}

